{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="jumbotron">
        <h4 class="display-4">
            Contact
        </h4>
        <h4 class="pt-2">Personal Website</h4>
        <i class="fas fa-globe" style="color:#000"></i> <a target="_blank" href="https://www.kristiang.com">Personal Website</a><br>
        <h4 class="pt-2">Phone Number</h4>
        <i class="fas fa-phone" style="color:#000"></i> <a href="tel:+">267-736-6358</a><br>
        <h4 class="pt-2">Email</h4>
        <i class="fa fa-envelope" style="color:#000"></i> <a target="_blank" href="mailto:kogutierres@gmail.com?subject = Feedback&body = Message">kogutierres@gmail.com</a><br>
    </div>
</div>

{% endblock content %}